---
import type { Event } from '../events'
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'
import H2 from '../components/headings/H2.astro'
import * as eventsStore from '../events'

const title = "Engagera dig"
const events = await eventsStore.list()

const contacts = [
  { name: "Kim Burgestrand", how: "kim@burgestrand.se" },
  { name: "Anna-Lena M.W." },
  { name: "Sandra B." },
]

const adultsToSentence = (event: Event) => {
  const missing = Math.max(2 - event.data.adults.length, 0)
  const missingAdults = Array.from({ length: missing }).fill("游뗾")
  return [...event.data.adults, ...missingAdults].join(", ")
}
---

<Layout title={title}>
  <header class="col-[full]">
    <Headline text={title} size={18.2} />
  </header>
  <main class="flex flex-col gap-y-16">
    <section class="flex flex-col gap-y-4">
      <H2>Vad g칬r man som vuxen p친 Rind칬g친rden?</H2>
      <p>
        Att vara vuxen p친 Rind칬g친rden inneb칛r att du 칛r med och skapar en trygg och rolig plats f칬r barnen att vistas p친. Du beh칬ver inte vara n친gon expert p친 barn eller lek, utan det viktigaste 칛r att du 칛r n칛rvarande och engagerad.
      </p>
      <p>
        Du 칛r aldrig ensam vuxen p친 g친rden. Allra b칛st blir det n칛r man g친r ihop med n친gon man k칛nner och bemannar en kv칛ll tillsammans.
      </p>

      <div>
        <h3 class="font-bangers tracking-wider text-2xl leading-tight">Uppgifter</h3>
        <ul class="list-disc list-inside">
          <li>Var f칬rst p친 plats, m칬t barnen n칛r de kommer</li>
          <li>F칬r n칛rvarolista och kontrollera medgivandeformul칛r</li>
          <li>Bemanna kiosken</li>
          <li>Hj칛lp till ifall n친got h칛nder</li>
        </ul>
      </div>
    </section>

    <section class="flex flex-col gap-y-4">
      <H2>Kontakta oss</H2>
      <p>
        Vi 칛r ett litet g칛ng vuxna som tillsammans sk칬ter logistik och planering f칬r Rind칬g친rden. Vi 칛r alltid intresserade av att f친 in nya id칠er och tankar, s친 tveka inte att h칬ra av dig om du har n친got p친 hj칛rtat!
      </p>
      <ul class="flex flex-row flex-wrap gap-y-2 gap-x-4">
        {contacts.map(contact => (
          <li class="min-w-[max-content] flex-1 border rounded-md px-4 py-2">
            <h3 class="text-xl font-bangers tracking-widest">{contact.name}</h3>
            <p class="">{contact.how}</p>
          </li>
        ))}
      </ul>
    </section>

    <section class="flex flex-col gap-y-4">
      <H2>Tillf칛llen</H2>
      <p>
        Varje kv칛ll beh칬ver bemannas av minst tv친 vuxna f칬r att vi ska kunna h친lla 칬ppet. Nedan ser du vilka kv칛llar som 칛r planerade och vilka som redan 칛r bemannade.
      </p>

      <p>
        Kan du t칛nka dig att st칛lla upp? Underbart! H칬r av dig till n친gon av oss i planeringsgruppen s친 l칛gger vi upp dig p친 schemat.
      </p>

      <table class="w-full my-6 font-mono text-sm mb-12">
        <thead>
          <tr class="text-left border-b-2">
            <th class="px-2">Datum & Tid</th>
            <th class="px-2">Tema & Vuxna</th>
          </tr>
        </thead>
        <tbody>
          {events.map((event) => (
            <tr class="data-[uncertain]:bg-red-600/40 even:bg-christalle-800 bg-transparent" data-uncertain={event.missingAdults > 0}>
              <td class="p-2">{event.date} kl.&nbsp;{eventsStore.time.tiny(event)}</td>
              <td class="p-2 flex flex-col">
                <strong>{event.data.title}</strong>
                <span>{adultsToSentence(event)}</span>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </section>
  </main>
</Layout>