---
import Layout from "@/layouts/Layout.astro";
import Headline from "@components/headings/Headline.astro";

import Question from "@components/faq/Question.astro";
import Section from "@components/faq/Section.astro";

import { workgroup, email } from "../common";

import urls from "@/urls";

const title = "Engagera dig";
---

<Layout title={title}>
  <header class="col-[full]">
    <Headline class="text-4xl my-4"> Engagera dig! </Headline>
  </header>
  <main class="col-[content] flex flex-col gap-y-4">
    <div class="flex flex-col gap-2">
      <p>
        Rindögården drivs av frivilliga vuxna. Tillsammans ser vi till att gården finns till för barnen.
      </p>
      <p>
        <strong>Ledningsgruppen</strong> har ett större ansvar för gården. Vi sköter allt runtomkring gården såsom hemsidan, inköp, bemanning, affischering, ekonomi, planering, kommunikation, och kontakt med kommunen och Rindöborna.
      </p>
      <p>
        <strong>Vuxengruppen</strong> består av vuxna som hjälper till genom att vara på gården tillsammans med barnen när vi har öppet.
      </p>
      <p>
        Vi kommunicerar med varandra via WhatsApp, eller genom att kika in på Rindögården när den är öppen.
      </p>
    </div>

    <Section title="Länkar">
      <ul class="flex flex-col gap-2">
        <li>
          <a href={urls.belastningsregistret}
            >Instruktioner för registerutdrag</a
          >
        </li>
        <li><a href={urls.checklist}>Checklista: Rindögården!</a></li>
      </ul>
    </Section>

    <Section title="Hur gården fungerar">
      <div class="flex flex-col gap-2 mb-2">
        <p>
          Rindögården är öppen varannan fredag, och varje kväll behöver bemannas
          av minst två vuxna, annars kan vi inte hålla öppet.
        </p>
        <p>
          Du är aldrig ensam vuxen på gården. Allra bäst blir det när man går
          ihop med någon man känner och bemannar en kväll tillsammans.
        </p>
      </div>

      <Question title="Vad gör man som vuxen på plats?">
        <div class="flex flex-col gap-2">
          <p>
            Att vara vuxen på Rindögården innebär att du är med och skapar en
            trygg och rolig plats för barnen att vistas på. Du behöver <strong
              >inte</strong
            > vara lekledare, utan det viktigaste är att du är närvarande.
          </p>
          <p><a href={urls.checklist}>Checklista: Rindögården!</a></p>
          <ol class="flex flex-col list-disc ml-5 mb-2">
            <li>Du är först på plats och låser upp lokalen.</li>
            <li>Du öppnar kiosken, tar fram närvarolistan.</li>
            <li>Du ser till barnen fyller skriver in sig på närvarolistan.</li>
            <li>Du är närvarande, trevlig, och håller koll.</li>
            <li>Du ser till att barnen kryssar ur sig när de går.</li>
            <li>Du går ett sista varv och kontrollerar lokalen.</li>
            <li>Du är sist kvar och låser lokalen.</li>
          </ol>
          <p>
            Utöver detta kan du givetvis hitta på nästan vad som helst! Leka,
            baka, spela spel, prata, eller bara vara.
          </p>
        </div>
      </Question>
      <Question title="Kan jag ta med småsyskon?">
        <div class="flex flex-col gap-2">
          <p>
            Ja! Du som ställer upp en kväll kan absolut ta med syskon för att få
            kvällen att gå ihop.
          </p>
          <p>
            Viktigt att tänka på är att de bör kunna klara sig en liten stund
            själva, ifall det händer något som kräver vuxen uppmärksamhet.
          </p>
        </div>
      </Question>
      <Question title="Hur skriver jag upp mig?">
        <div class="flex flex-col gap-2">
          <p>Ta kontakt med en av oss i arbetsgruppen!</p>
          <ul class="list-disc ml-5">
            {workgroup.map(({ name }) => <li>{name}</li>)}
          </ul>
          <p>
            Du kan också nå oss på <a href={urls.external.facebook}
              >Facebook Messenger</a
            >
            eller maila <a href=`mailto:${email}`>{email}</a>.
          </p>
          <p>
            Om du ska bemanna en kväll så behöver du uppvisa ett utdrag ur
            belastningsregistret.
            <a href={urls.belastningsregistret}>Läs mer om det här.</a>
          </p>
        </div>
      </Question>
      <Question title="Får man ersättning?">
        <div class="flex flex-col gap-2">
          <p>
            En varm känsla i kroppen över att ha gjort något bra för öns barn!
            Utöver det kan ni under kvällen ta en dricka och något från kiosken
            med gott samvete, huset bjuder.
          </p>
          <p>Vill ni handla från kiosken får ni givetvis göra det!</p>
        </div>
      </Question>
      <Question title="Vilka kvällar saknar vuxna?">
        <p>
          Alla planerade fredagskvällar syns på <a href={urls.home}>startsidan</a>!
        </p>
      </Question>
    </Section>
    <Section title="Inför kvällen">
      <Question title="Måste jag ha ett tema?">
        <p>
          Absolut inte! Det räcker mer än väl att komma dit och bemanna gården
          så att den kan hålla öppet.
        </p>
      </Question>
      <Question title="Vem gör inköp till min temakväll?">
        <div class="flex flex-col gap-2">
          <p>
            Ta kontakt med ledningsgruppen för att bestämma en rimlig budget.
            Därefter kan ni handla in det ni behöver. <strong
              >Spara kvittot!</strong
            > - annars kan ni inte få ersättning.
          </p>
          <p>
            Hinner ni inte handla själv så kan ledningsgruppen kan hjälpa till,
            alternativt någon i vuxengruppen. Var i såfall ute i god tid!
          </p>
        </div>
      </Question>
    </Section>
  </main>
</Layout>
