---
import type { Event } from "@/events";
import Layout from "@/layouts/Layout.astro";
import Headline from "@components/headings/Headline.astro";

import Question from "@components/faq/Question.astro";
import Section from "@components/faq/Section.astro";

import { workgroup, email } from "../common";

import * as eventsStore from "@/events";
import urls from "@/urls";

const title = "Engagera dig";
const events = await eventsStore.list();

const adultsToSentence = (event: Event) => {
  const missing = Math.max(2 - event.data.adults.length, 0);
  const missingAdults = Array.from({ length: missing }).fill("游뗾");
  return [...event.data.adults, ...missingAdults].join(", ");
};
---

<Layout title={title}>
  <header class="col-[full]">
    <Headline class="text-4xl my-4"> Engagera dig! </Headline>
  </header>
  <main class="col-[content] flex flex-col gap-y-4">
    <div class="flex flex-col gap-2">
      <p>
        Rind칬g친rden drivs av frivilliga, och vi tar tacksamt emot all hj칛lp vi
        kan f친!
      </p>
    </div>

    <Section title="L칛nkar">
      <ul class="flex flex-col gap-2">
        <li>
          <a href={urls.belastningsregistret}
            >Instruktioner f칬r registerutdrag</a
          >
        </li>
        <li><a href={urls.checklist}>Checklista: Rind칬g친rden!</a></li>
      </ul>
    </Section>

    <Section title="Hur g친rden fungerar">
      <div class="flex flex-col gap-2 mb-2">
        <p>
          Rind칬g친rden 칛r 칬ppen varannan fredag, och varje kv칛ll beh칬ver bemannas
          av minst tv친 vuxna, annars kan vi inte h친lla 칬ppet.
        </p>
        <p>
          Du 칛r aldrig ensam vuxen p친 g친rden. Allra b칛st blir det n칛r man g친r
          ihop med n친gon man k칛nner och bemannar en kv칛ll tillsammans.
        </p>
      </div>

      <Question title="Vad g칬r man som vuxen p친 plats?">
        <div class="flex flex-col gap-2">
          <p>
            Att vara vuxen p친 Rind칬g친rden inneb칛r att du 칛r med och skapar en
            trygg och rolig plats f칬r barnen att vistas p친. Du beh칬ver <strong
              >inte</strong
            > vara lekledare, utan det viktigaste 칛r att du 칛r n칛rvarande.
          </p>
          <p><a href={urls.checklist}>Checklista: Rind칬g친rden!</a></p>
          <ol class="flex flex-col list-disc ml-5 mb-2">
            <li>Du 칛r f칬rst p친 plats och l친ser upp lokalen.</li>
            <li>Du 칬ppnar kiosken, tar fram n칛rvarolistan.</li>
            <li>Du ser till barnen fyller skriver in sig p친 n칛rvarolistan.</li>
            <li>Du 칛r n칛rvarande, trevlig, och h친ller koll.</li>
            <li>Du ser till att barnen kryssar ur sig n칛r de g친r.</li>
            <li>Du g친r ett sista varv och kontrollerar lokalen.</li>
            <li>Du 칛r sist kvar och l친ser lokalen.</li>
          </ol>
          <p>
            Ut칬ver detta kan du givetvis hitta p친 n칛stan vad som helst! Leka,
            baka, spela spel, prata, eller bara vara.
          </p>
        </div>
      </Question>
      <Question title="Kan jag ta med sm친syskon?">
        <div class="flex flex-col gap-2">
          <p>
            Ja! Du som st칛ller upp en kv칛ll kan absolut ta med syskon f칬r att f친
            kv칛llen att g친 ihop.
          </p>
          <p>
            Viktigt att t칛nka p친 칛r att de b칬r kunna klara sig en liten stund
            sj칛lva, ifall det h칛nder n친got som kr칛ver vuxen uppm칛rksamhet.
          </p>
        </div>
      </Question>
      <Question title="Hur skriver jag upp mig?">
        <div class="flex flex-col gap-2">
          <p>Ta kontakt med en av oss i arbetsgruppen!</p>
          <ul class="list-disc ml-5">
            {workgroup.map(({ name }) => <li>{name}</li>)}
          </ul>
          <p>
            Du kan ocks친 n친 oss p친 <a href={urls.external.facebook}
              >Facebook Messenger</a
            >
            eller maila <a href=`mailto:${email}`>{email}</a>.
          </p>
          <p>
            Om du ska bemanna en kv칛ll s친 beh칬ver du uppvisa ett utdrag ur
            belastningsregistret.
            <a href={urls.belastningsregistret}>L칛s mer om det h칛r.</a>
          </p>
        </div>
      </Question>
      <Question title="F친r man ers칛ttning?">
        <div class="flex flex-col gap-2">
          <p>
            En varm k칛nsla i kroppen 칬ver att ha gjort n친got bra f칬r 칬ns barn!
            Ut칬ver det kan ni under kv칛llen ta en dricka och n친got fr친n kiosken
            med gott samvete, huset bjuder.
          </p>
          <p>Vill ni handla fr친n kiosken f친r ni givetvis g칬ra det!</p>
        </div>
      </Question>
      <Question title="Vilka kv칛llar saknar vuxna?">
        <p>
          H칛r 칛r en lista p친 kv칛llar som saknar vuxna. Om du kan st칛lla upp, h칬r
          av dig!
        </p>
        <table class="w-full my-6 font-mono text-sm mb-12">
          <thead>
            <tr class="text-left border-b-2">
              <th class="px-2">Datum & Tid</th>
              <th class="px-2">Tema & Vuxna</th>
            </tr>
          </thead>
          <tbody>
            {
              events.map((event) =>
                event.missingAdults ? (
                  <tr
                    class="data-[uncertain]:bg-mandy-800/20 even:bg-allports-800 bg-transparent"
                    data-uncertain={event.missingAdults > 0}
                  >
                    <td class="p-2">
                      {event.date} kl.&nbsp;{eventsStore.time.tiny(event)}
                    </td>
                    <td class="p-2 flex flex-col">
                      <strong>{event.data.title}</strong>
                      <span>{adultsToSentence(event)}</span>
                    </td>
                  </tr>
                ) : null,
              )
            }
          </tbody>
        </table>
      </Question>
    </Section>
    <Section title="Inf칬r kv칛llen">
      <Question title="M친ste jag ha ett tema?">
        <p>
          Absolut inte! Det r칛cker mer 칛n v칛l att komma dit och bemanna g친rden
          s친마tt den kan h친lla 칬ppet.
        </p>
      </Question>
      <Question title="Vem g칬r ink칬p till min temakv칛ll?">
        <div class="flex flex-col gap-2">
          <p>
            Ta kontakt med ledningsgruppen f칬r att best칛mma en rimlig budget.
            D칛refter kan ni handla in det ni beh칬ver. <strong
              >Spara kvittot!</strong
            > - annars kan ni inte f친 ers칛ttning.
          </p>
          <p>
            Hinner ni inte handla sj칛lv s친 kan ledningsgruppen kan hj칛lpa till,
            alternativt n친gon i volont칛rgruppen. Var i s친fall ute i god tid!
          </p>
        </div>
      </Question>
    </Section>
  </main>
</Layout>
