---
import Layout from '../layouts/Layout.astro';
import Headline from '@components/headings/Headline.astro'
import Question from '@components/faq/Question.astro'
import Section from '@components/faq/Section.astro'

const title = "Vanliga frågor"
import { email, workgroup } from "../common"

---

<Layout title={title}>
  <header class="col-[full]">
    <Headline class="text-5xl my-4">
      {title}
    </Headline>
  </header>
  <main class="col-[content] flex flex-col gap-4">
    <Section title="Om Gården">
      <Question title="Vem driver Rindögården?">
        <div class="flex flex-col gap-2">
          <p>
            Du! Varje fredagskväll bemannas av frivilliga vuxna. Utan frivilliga vuxna kan vi inte hålla öppet.
          </p>
          <p>
            Utanför fredagskvällarna så är det en frivillig grupp föräldrar som sköter t.ex. inköp till kiosken, jaga frivilliga föräldrar, hemsidan, och kontakten med Rindöborna.
          </p>
          <p>
            <a href="http://www.rindoborna.se">Föreningen Rindöborna</a> har hand om kontakt med kommunen, så att vi får lov att nyttja lokalen.
          </p>
        </div>
      </Question>
      <Question title="Hur kontaktar jag Rindögården?">
        <div class="flex flex-col gap-2">
          <p>
            Varje kväll har flera ansvariga vuxna på plats. Vill du nå dem, gå dit när det är öppet och prata med dem.
          </p>
          <p>
            Vill du nå arbetsgruppen som sköter allt runtomkring så kontakta en av oss direkt.
          </p>
          <ul class="list-disc ml-5">
            {workgroup.map(({ name }) => (
              <li>{name}</li>
            ))}
          </ul>
          <p>
            Du kan också nå oss på <a href="https://www.facebook.com/rindogarden">Facebook Messenger</a>
            eller maila <a href=`mailto:${email}`>{email}</a>.
          </p>
        </div>
      </Question>
      <Question title="Vem betalar alltihop?">
        <div class="flex flex-col gap-2">
          <p>
            Kommunen hyr ut lokalen till Rindöborna. Rindöborna söker i sin tur pengar från kommunen vilket täcker hyran och försäkring. Detta går jämnt ut.
          </p>
          <p>
            Den enda andra inkomsten är försäljning i kiosken. Någon krona per godis och dricka går tillbaka till gården.
          </p>
          <p>
            I övrigt är gården beroende av frivilliga vuxna som bidrar med engagemang, tid, och ibland även donationer.
          </p>
        </div>
      </Question>
    </Section>
    <Section title="Kiosken">
      <Question title="Hur betalar man i kiosken?">
        <p>
          Via Swish eller kontant. Vi har begränsat med växel.
        </p>
      </Question>
    </Section>
  </main>
</Layout>