---
import Layout from '@/layouts/Layout.astro';
import Headline from '@components/headings/Headline.astro'
import H2 from '@components/headings/H2.astro'
import { rindobornaSwishNumber } from "@/common"
import urls, { swish } from '@/urls'

const title = "För vuxna"
---

<Layout title={title}>
  <header class="col-[full]">
    <Headline class="text-5xl my-4">
      {title}
    </Headline>
  </header>

  <main class="col-[content] flex flex-col gap-y-6">
    <p>
      Rindögården är en fritidsgård för barn i åk 4-6. Gården drivs ideellt av
      <a href={urls.external.rindoborna}>Föreningen Rindöborna</a>, engagerade vuxna i ledningsgruppen, samt en
      liten skara av frivilliga vuxna som bemannar gården på fredagarna.
    </p>

    <section>
      <H2>Föreningen Rindöborna</H2>
      <div class="flex flex-col gap-2 mt-2">
        <p>
          Om era barn kommer till gården ska ert hushåll vara medlemmar i <a href={urls.external.rindoborna}>Föreningen Rindöborna</a>.
        </p>
        <p>
          Medlemsskapet kostar 200 kr år och familj, och betalas in via Swish till <a href={swish.member}>{rindobornaSwishNumber}</a>.
        </p>
      </div>
    </section>
    <section>
      <H2>Hjälp oss hålla öppet!</H2>
      <div class="flex flex-col gap-2 mt-2">
        <p>
          Överväg att <a href={urls.engage}>engagera dig</a> som volontär på gården. Vi behöver alltid fler vuxna som kan hjälpa till att hålla gården öppen.
        </p>
      </div>
    </section>
    <section>
      <H2>Medgivandeformulär</H2>
      <p class="my-2">
        För att ditt barn ska kunna delta på Rindögården behöver ni och ert barn acceptera de regler och riktlinjer som gäller. Vi vill också ha er kontaktinformation för att kunna kontakta er om något sker på gården.
      </p>
      <a class="block text-link" href={urls.external.consentForm}>
        Öppna och fyll i formuläret
      </a>
    </section>
    <section>
      <H2>Kontaktinformation</H2>
      <p class="my-2">
        Se <a class="inline-block text-link" href={urls.faq}>Vanliga frågor</a>.
      </p>
    </section>
  </main>
</Layout>
