---
import Layout from '@/layouts/Layout.astro';

import localLogo from '@images/logo/Logo-RG-Rectangle-Neg-RGB.png'
import { Image } from 'astro:assets'

import * as events from '@/events'

import Time from '@components/events/Time.astro'
import Adults from '@components/events/Adults.astro'
import H2 from '@components/headings/H2.astro'

const eventsList = await events.list()
const title = "Rindögården!"

const pastEvents = eventsList.filter(events.isPast)
const upcomingEvents = eventsList.filter((event) => !events.isPast(event))
---

<Layout title={title}>
	<header class="subgrid overflow-x-hidden flex flex-col items-center my-4">
		<Image src={localLogo} alt="Rindögården" class="w-full max-w-[500px]" />
		<div class="text-center px-4 col-[content] flex flex-col gap-4">
			<p>
				Rindögården är en fritidsgård för dig i åk 4-6 på Rindö. Vi har öppet varannan fredagkväll!
			</p>
			<p class="max-w-[80ch]">
				Gården är nyuppstartad i ny regi och vi jobbar löpande med att sätta
				alla rutiner. Tveka inte att höra av er med frågor!
			</p>
		</div>
	</header>

	<main class="col-[content] flex flex-col mb-12 gap-8">
		<section>
			<H2 class="mb-4 text-4xl border-b-0 uppercase">På gång</H2>
			<ol class="grid grid-cols-[auto_1fr] grid-flow-row">
				{pastEvents.map(event => (
					<li id={event.id} class="scroll-m-16 md:scroll-m-24 col-span-full group grid grid-cols-subgrid col-start-1 z-0 grayscale mb-2 text-xs">
						<a href={event.url} class="grid grid-cols-subgrid col-span-full bg-white text-shark-950 no-underline relative">
							<Time event={event} class="inline-flex flex-row gap-2 px-2 py-1 bg-shark-950 text-white uppercase font-bold items-center justify-center font-days-one">
								<span>{event.date.day} {events.date.shortMonth(event)}</span>
							</Time>

							<article class="mx-2 font-sans">
								<h1 class="py-2 font-days-one tracking-wider leading-none text-puerto-rico-600">{event.data.title}</h1>
							</article>
						</a>

					</li>
				))}
				{upcomingEvents.map((event) => (
					<li id={event.id} class="scroll-m-16 md:scroll-m-24 col-span-full group grid grid-cols-subgrid col-start-1 z-0 mb-4" data-uncertain={event.missingAdults > 0}>
						<a href={event.url} class="grid grid-cols-subgrid col-span-full bg-white text-shark-950 no-underline relative">
							<Time event={event} class="inline-flex flex-col px-2 py-1 bg-shark-950 text-white uppercase font-bold items-center justify-center font-days-one">
								<span class="text-3xl">{event.date.day}</span>
								<span class="text-normal">{events.date.shortMonth(event)}</span>
							</Time>

							<article class="mx-2 font-sans">
								{event.missingAdults > 0 && (
									<p class="font-bold flex justify-between bg-persian-rose-500 text-white -mx-2 px-2 py-1">
										<strong class="text-inherit">Vi saknar {event.missingAdults} {event.missingAdults > 1 ? "vuxna" : "vuxen"}!</strong>
										<strong class="text-inherit">Engagera dig</strong>
									</p>
								)}

								<div class="py-2 group-data-[uncertain]:grayscale flex flex-col">
									<header>
										<h1 class="text-xl font-days-one tracking-wider leading-none text-puerto-rico-600">{event.data.title}</h1>
										<Time event={event} class="text-sm font-bold group-data-[uncertain]:text-gray-300">
											{events.date.custom(event, ({ date, locale }) => date.toLocaleString(locale, { weekday: 'long' }))}
											kl. {events.time.tiny(event)}
										</Time>
									</header>
									{event.data.summary && (
										<p class="text-normal mb-1 tracking-tighter">{event.data.summary}</p>
									)}
									<Adults event={event} class="flex-wrap gap-1 text-xs" />
								</div>
							</article>
						</a>
					</li>
				))}
			</ol>
		</section>
	</main>
</Layout>
