---
import Layout from '../layouts/Layout.astro';
import Time from '../components/events/Time.astro'
import localLogo from '../images/logo/Logo-RG-Rectangle-Neg-RGB.png'
import { Image } from 'astro:assets'

import * as events from '../events'

const upcoming = await events.list()
const title = "Rindögården!"
---

<Layout title={title}>
	<header class="subgrid overflow-x-hidden flex flex-col items-center mb-4">
		<Image src={localLogo} alt="Rindögården" class="w-full max-w-[500px]" />
		<p class="text-center px-4 col-[content]">
			Vi är precis i <strong>startgroparna</strong>. Håll utkik, det kommer mer här snart!
		</p>
	</header>

	<main class="subgrid mb-12">
		<ol class="flex flex-col gap-y-4 col-[content]">
			{upcoming.map((event) => (
				<li class="group flex rounded-md shadow-md bg-allports-600 data-[uncertain]:bg-allports-600/20 data-[uncertain]:opacity-80" data-uncertain={event.missingAdults > 0}>
					<a href={event.url} class="rounded-md px-4 py-4 block flex-1 max-w-full no-underline">
						<article class="flex flex-col gap-4">
							<header class="flex justify-between flex-wrap gap-x-4 gap-y-2">
								<div class="break-words max-w-full">
									<h1 class="text-2xl font-days-one tracking-wider leading-none">{event.data.title}</h1>
									<Time event={event} style="full" class="inline-block mt-1" />
								</div>
								<span class="self-start flex flex-col flex-wrap font-bold">
									<span>{event.data.adults.join(", ")}</span>
									{event.missingAdults > 0 && <strong class="text-red-500 animate-pulse">Vi saknar {event.missingAdults} vuxna!</strong>}
								</span>
							</header>
						</article>
					</a>
				</li>
			))}
		</ol>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
</style>
