---
import Headline from '@components/headings/Headline.astro'
import H2 from '@components/headings/H2.astro'

import * as events from '../../events'
import Time from '@components/events/Time.astro'
import Adults from '@components/events/Adults.astro'

export async function getStaticPaths() {
  const list = await events.list()
  return list.map((event, index) => {
    const prev = list[index - 1] ?? null
    const next = list[index + 1] ?? null

    return ({
      params: { slug: event.slug },
      props: { event, next, prev },
    })
  })
}

import Layout from '@/layouts/Layout.astro';

const { event } = Astro.props
const { Content } = await event.render()

const title = (event.data.title) + " " + events.date.short(event)
---
<Layout title={title}>
  {event.missingAdults > 0 ? (
    <a href="/engagera-dig" class="col-[breakout] block mt-4 bg-persian-rose-600 overflow-hidden no-underline tracking-wide">
      <H2 class="border-b-0 py-2 px-4 text-white">Fler vuxna behövs!</H2>
      <p class="block bg-white underline font-days-one py-2 px-4">Sign me up!</p>
    </a>
  ) : (
    <section class="mt-4 border border-shark-800 mb-2 rounded-sm col-[breakout]">
      <H2 class="bg-persian-rose-600 py-2 px-4">Viktigt!</H2>

      <div class="bg-white text-black py-2 px-4">
        <p>
          Innan du kommer till Rindögården behöver din vårdnadshavare fylla i och skicka in ett medgivandeformulär.
        </p>

        <a href="/for-vuxna">
          Mer info under <strong>För vuxna</strong>
        </a>
      </div>
    </section>
  )}
  <main class="col-[content]">
    <header class="mt-2 py-4">
      <Headline class="text-4xl leading-none">
        {event.data.title}
      </Headline>
      <p class="text-center mb-1">
        <Time event={event} />
      </p>
      <Adults event={event} class="justify-center text-sm" />
    </header>

    <Content />
  </main>
  <footer class="my-4 py-2 col-[content]">
    <nav>
      <a href=`/#${event.id}`>Tillbaka till listan</a>
    </nav>
  </footer>
</Layout>
